@media (max-width: 575px) {
	h1 {
		font-size: 2.5rem;
	}
}

@media (min-width: 576px) {
	h1 {
		font-size: 2.75rem;
	}
}

@media (min-width: 768px) {
	h1 {
		font-size: 3rem;
	}
}

@media (min-width: 992px) {
	h1 {
		font-size: 3.25rem;
	}
}

@media (min-width: 1200px) {
	h1 {
		font-size: 3.5rem;
	}
}
