:root {
	--background-color: #272822;
}

body {
	background: var(--background-color) !important;
}

#output, #input {
	background: var(--background-color);
}

*:focus, *:active {
	outline: none !important;
	box-shadow: none !important;
}

@media (max-width: 575px) {
	label, #code-container, #output, #input {
		width: 95%;
	}
}

@media (min-width: 576px) {
	label, #code-container, #output, #input {
		width: 90%;
	}
}

@media (min-width: 768px) {
	label, #code-container, #output, #input {
		width: 85%;
	}
}

@media (min-width: 992px) {
	label, #code-container, #output, #input {
		width: 80%;
	}
}

@media (min-width: 1200px) {
	label, #code-container, #output, #input {
		width: 75%;
	}
}
